{% extends 'header.html' %}

{% block content %}

<!-- Page Title -->
<h1 class="heading">Stories</h1>

<!-- Story table -->
<div class="table-responsive small">
    <div class="table-margin">
        <table class="table table-striped table-sm">
            <thead>
                <tr class="tr-headings">
                    <th style="width: 250px">Prompt</th>
                    <th>Story</th>
                </tr>
            </thead>
            <tbody>
                {% for story in stories %}
                <tr>
                    <td>{{ story.users_prompt }}</td>
                    <td>{{ story.saved_text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</div>
{% endblock %}