{% extends 'header.html' %}

{% block content %}

<!-- Typing space -->

<div class="form-container">
    <h3 class="heading">{{ random_prompt.prompt }}</h3>
    <form method="POST" action="/submit">
    <input type="hidden" name="prompt" value="{{ random_prompt.prompt }}">
    <textarea class="entry-margin" id="user_input" name="user_input" rows="35" cols="75" placeholder="Start typing here..."></textarea>
    <input type="hidden" name="user_input_hidden" id="user_input_hidden">
    <br>
    <input id="submit_button" type="submit" value="Save" disabled>
    </form>
</div>

<!-- JavaScript -->
<script>
    const textarea = document.getElementById("user_input");
    const textareaHidden = document.getElementById("user_input_hidden");
    const countdownElement = document.getElementById("countdown");
    const submitButton = document.getElementById("submit_button");
    let countdown = 10; 
    let timer;
    
    function startCountdown() {
        timer = setInterval(updateCountdown, 1000);
        countdownElement.textContent = `Countdown: ${countdown}s`; 
    
    function updateCountdown() {
        countdown--;
        countdownElement.textContent = `Countdown: ${countdown}s`; 
    
        if (countdown <= 0) {
            clearInterval(timer);
            enableSubmitButton();
        }
    }
    
    function resetCountdown() {
        clearInterval(timer);
        countdown = 10;
        countdownElement.textContent = "";
    }
    
    function enableSubmitButton() {
        submitButton.disabled = false;
        textarea.disabled = true;
        countdownElement.textContent = "";
    }
    
    function disableSubmitButton() {
        submitButton.disabled = true;
        textarea.disabled = false;
    }
    
    textarea.addEventListener("keydown", function(event) {
        const key = event.key;
        
        if (key !== " " && key !== "Backspace") {
            resetCountdown();
            startCountdown();
        } else if (key === "Enter") {
            event.preventDefault();
        }
    });
    
    textarea.addEventListener("input", function(event) {
        const inputText = textarea.value.trim();
        textareaHidden.value = inputText; 
        if (inputText === "") {
            resetCountdown();
            disableSubmitButton();
        }
    });
    
    </script>

{% endblock %}