.container {
    margin-left: 10px;
    margin-right: 10px;
    max-width: none;
    width: auto;
}

.entry-margin {
    margin-top: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

.table-margin {
    margin-left: 35px;
    margin-right: 35px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

.heading {
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.image_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.image_div img {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

